doctype html
html 
    head
        title= `${title}`
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
    body    
        h1 Books
        a.update-button(href='/update-cobj') Add/Update this table
        
        table.center(style='width: 100%', border='1')
            tr
                th 
                    h2 Book Title 
                th 
                    h2 Author
                th 
                    h2 Synopsis 

            each book in data
                tr
                    td #{book.properties.name}  
                    td  #{book.properties.author}
                    td #{book.properties.synopsis}
        
        footer
            p &copy Copyright 2023