doctype html
html 
    head
        title= `${title}`
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/style.css')
    body 
        header   
            h1 Books
        a.button(href='/update-cobj') Add/Update this table
        
        table.center(style='width: 100%', border='1')
            tr
                th 
                    h4 Book Title 
                th 
                    h4 Author
                th 
                    h4 Synopsis 

            each book in data
                tr
                    td #{book.properties.name}  
                    td  #{book.properties.author}
                    td #{book.properties.synopsis}
        
        footer
            p &copy Copyright 2023