@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;600;800&display=swap');

body {
    color: #192733;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

body,
table,
h1,
p,
a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 30px;
}

.return {
    margin-right: auto;
}

/* TYPOGRAPHY */

h1 {
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin: 1rem;
}

h2 {
    font-size: 42px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    margin: 0;
}

p {
    font-weight: 200;
    font-size: 14px;
}

/* TABLE STLES */
table {
    border-collapse: collapse;
    border: solid #192733 0.5px;
    display: flex;
    -webkit-box-shadow: 9px 9px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    9px 9px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         9px 9px 5px 0px rgba(50, 50, 50, 0.45);
}

th {
    background-color: #192733;
    border-top: none;
    text-align: center;
    color: #FFFFFF !important;
    margin: 0;
}

td {
    padding: 10px;
}

/* BUTTON STYLES */

button {
    margin: 10px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FFFFFF, #FFFFFF) padding-box,
                linear-gradient(to right, #FE5C36, #FFBD4B) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none;
    width: auto;
    margin: 15px 0 40px 0;
}

.button:hover {
    background: linear-gradient(to right, #FE5C36, #FFBD4B) padding-box,
                linear-gradient(to right, #FE5C36, #FFBD4B) border-box;
    color: #FFFFFF !important;
}

.button:visited {
    color: orange;
}

/* FORM STYLES */

form {
    margin: 30px;
    width: 900px;
}

label {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
}

.form-group {
    padding: 5px;
    text-align: left;
}

.hide {
    display: none;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
    color: lightgrey;
    font-weight: 200;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}

/* HEADER */
header {
    margin: 10px;
}

/* FOOTER */

footer {
    margin-top: auto;
    padding: 10px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {

    h1 {
        font-size: 60px;
    }

    table {
        max-width: 960px;
    }
}